.note {
    display: inline-block; /* Display the note as an inline element */
    margin: 5px; /* Add some margin around the note */
}

.note img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Keep the aspect ratio */
}

.note-group {
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Some padding inside the note group */
    margin: 0 auto 10px auto; /* Center the note group and add space below */
    max-width: 460px; /* Set a maximum width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.note-group p {
    margin: 0; /* Remove default margin from paragraphs inside note groups */
}