.note {
    display: inline-block; /* Display the note as an inline element */
    margin: 5px; /* Add some margin around the note */
}

.note img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Keep the aspect ratio */
}

.note-group {
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Some padding inside the note group */
}

.note-group p {
    margin: 0; /* Remove default margin from paragraphs inside note groups */
}

.notes-container {
    padding: 20px; /* Add some padding around the notes container */
    background-color: #afafaf; /* Light gray background */
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Add some space between the note groups */

}